// CSS variable colours
:root {
    --color-body: #f2f2f2;
    --color-brick: #fff;
    --color-brick-border: #ccc;
    --color-text:#0a0a0a;
    --color-action: #ebebeb;
    --color-action-hover: #fafafa;
    --color-action-selected: #fff;
    --color-trim: #5c5c5c;
    --color-trim-2: #fff;
};

// Static colours
$static-colors: (
    github: #6e5494,
    friendly-green: #79b47c,
    twitter: #00aced,
    pintrest: #e60023,
    mcdonalds: #ffc72C,
);

@mixin colors($attribute) {
    @each $name, $hex in $static-colors {
        &--#{$name} {
            #{$attribute}: $hex;
        }
    }
}

.font-color {
    @include colors($attribute: 'color')
}