.grid-col-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}


@media (min-width: $screen-small) {
    .grid-col-2--tablet {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
    }
}