$maxColumns: 12;
$gridGap: 20px;

$spans: (
    row: 'grid-row',
    col: 'grid-column'
);

.grid {
    display: grid;
    grid-gap: $gridGap;
}

.grid--dense {
    grid-auto-flow: dense;
}

@mixin grid($media: '') {
    @for $i from 1 through $maxColumns {
        &--col-#{$i}#{$media} {
            grid-template-columns: repeat($i, 1fr);
        }
    }
}

@mixin grid-span($media: '') {
    @for $i from 1 through $maxColumns {
        @each $name, $span in $spans {
            &--#{$name}-#{$i}#{$media} {
                #{$span}: span $i;
            }
        }
    }
}

.grid {
    @include grid()
}
.grid-item {
    @include grid-span()
}

@media (max-width: $screen-small){
    .grid {
        @include grid($media: '-mobile')
    }
    .grid-item {
        @include grid-span($media: '-mobile')
    }
}

@media (min-width: $screen-small-abv) and (max-width: $screen-medium) {
    .grid {
        @include grid($media: '-tablet')
    }
    .grid-item {
        @include grid-span($media: '-tablet')
    }
}

@media (min-width: $screen-medium-abv) and (max-width: $screen-large) {
    .grid {
        @include grid($media: '-lap')
    }
    .grid-item {
        @include grid-span($media: '-lap')
    }
}

@media (min-width: $screen-large-abv) {
    .grid {
        @include grid($media: '-desk')
    }
    .grid-item {
        @include grid-span($media: '-desk')
    }
}