:root {
    --page-width: 1200px;
    --base-interval-1: 10px;
    --base-interval-2: 20px;
    --base-radius: 20px;
}

body {
    font-family: var(--body-font);
    margin: 0;
    padding: 0;
    overflow-y:scroll;
    background: var(--color-body);
}

.wrapper {
    margin: 0 auto;
    max-width: var(--page-width);
    padding-right: var(--base-interval-1);
    padding-left: var(--base-interval-1);
}