{% macro list(links=[], classes="", external=false, currentPage="") %}
    <ul class="link-list cf {{classes}}">
        {% for link in links %}
            <li class="link-list__item link-list__item--{{link.name}} {% if link.name === currentPage %}link-list__item--current-page{% endif %}">
                <a href="{{link.href}}" {% if external %}target="_blank"{% endif %}>{{ link.text }}{% if external %}{{ external_text() }}{% endif %}{% if link.name === currentPage %}<span class="screen-reader"> current page</span>{% endif %}</a>
            </li>
        {% endfor %}
    </ul>
{% endmacro %}

{% macro cubbycon(href="", text="", class="", entity="", external=false, icon_class="") %}
    <li class="article-button--tab">
        <a class="article-button display-block {{class}}" href="{{href}}" {% if external %}target="_blank"{% endif %}>
            <span class="article-button__text">
                {% if external %}
                    {{ external_icon() }}
                {% endif %}
                <span>{{ text }}</span>
                {% if external %}
                    {{ external_text() }}
                {% endif %}
            </span>
            <span class="icon icon--article-button {{icon_class}}" aria-hidden="true">{{ entity }}</span>
        </a>
    </li>
{% endmacro %}

{% macro external(href="", text="") %}<a href="{{href}}" target="_blank">{{ text }}{{ external_text() }}{{ external_icon() }}</a>{% endmacro %}

{% macro external_text() %}<span class="screen-reader">&nbsp;opens in a new windwon</span>{% endmacro %}

{% macro external_icon() %}<span class="icon icon--external" aria-hidden="true">&#x2924;</span>{% endmacro %}