<nav class="main-nav" id="js-main-nav" aria-label="main">
    <div class="wrapper">
        <div class="main-nav__inner">
            <button class="menu-icon" id="js-burger-menu"><span aria-hidden="true">&#x2630;</span><span class="screen-reader">menu</span></button>
            <button class="menu-icon float-right" id="js-settings"><span aria-hidden="true">&#9881;</span><span class="screen-reader">menu</span></button>
            {% if model.links %}{{ links.list([model.links.home, model.links.posts, model.links.graveyard, model.links.about], currentPage = model.pageName) }}{% endif %}
            <div class="mobile-nav__foot-cap"></div>
        </div>
    </div>
</nav>