<nav class="main-nav" aria-label="main">
    <div class="wrapper">
        <div class="main-nav--inner">
            {% if model.links %}{{ links.list([model.links.home, model.links.posts, model.links.graveyard, model.links.about], currentPage = model.pageName) }}{% endif %}
        </div>
    </div>
</nav>
