<div class="brick brick--heading">
    {% if model.heading %}<h1 class="margin-bottom-5">{{ model.heading }}</h1>{% endif %}
    {% if model.message %}<p class="margin-top-5 margin-bottom-40">{{ model.message }}</p>{% endif %}
</div>
