.brick {
    background: var(--color-brick);
    padding: var(--interval-2);
    margin-bottom: var(--interval-1);
    border-radius: var(--interval-2);
    box-shadow: var(--shadow);
    border: solid 1px var(--color-brick-border);
    border-bottom-width: 2px;
}

.brick--heading {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: var(--interval-1);
    margin-bottom: var(--interval-2);
    padding-top: 40px;
}

@media (max-width: $screen-small) {
    html:not(.js) .brick--heading {
        padding-top: 0;
    }
}

.brick--woven {
    padding-bottom: var(--interval-2);
}

.brick--woven:nth-child(odd) {
    border-top-right-radius: var(--interval-1);
    border-bottom-left-radius: var(--interval-1);
}

.brick--woven:nth-child(even) {
    border-top-left-radius: var(--interval-1);
    border-bottom-right-radius: var(--interval-1);
}

.inherit-border {
    border: inherit;
    border-radius: inherit;
}