.main-nav {
    overflow-x: hidden;
    position: sticky;
    font-size: 18px;
    left: 0;
    right: 0;
    top: 0;

    .wrapper {
        padding: 0;
        background-color: var(--color-action-trim);
    }
    
    .burger-menu__wrapper:before,
    .burger-menu__wrapper:after {
        content: '';
        height: calc(100% + 1px);
        width: 50%;
        background: var(--color-action-nav);
        position: absolute;
        top: -1px;
        border-bottom: solid 6px var(--color-action-border);
        border-top: solid 1px var(--color-action-border);
    }
    .burger-menu__wrapper:before {
        left: calc(-50% - 1px);
        box-shadow:
        inset -79px -100px 102px -45px rgba(0,0,0,.5),
        inset 104px 114px 31px -90px rgba(255,255,255,.5);
    }
    .burger-menu__wrapper:after {
        right: calc(-50% - 1px);
        box-shadow:
        inset -79px -100px 102px -45px rgba(0,0,0,.5),
        inset 104px 114px 31px -90px rgba(255,255,255,.5);
    }

    .link-list__item {
        float: left;
    }

    .link-list__item a {
        display: block;
        padding: var(--interval-1) var(--interval-2);
        text-decoration: none;
        transition: background .3s ease-in-out;
        color: var(--color-text);
        background: var(--color-action-nav);

        &:hover,
        &:focus {
            background: var(--color-action-hover);
        }
        &:active {
            background: var(--color-action-selected);
        }
    }

    .link-list__item--current-page a {
        background: var(--color-action-selected);
    }
}

.no-js {
    .settings-menu__wrapper, 
    #js-settings-menu__links,
    .menu-icon {
        display: none;
    }

    .main-nav {
        background: var(--color-action-trim);
        border-top: solid 1px var(--color-action-darkest);
        border-bottom: solid 1px var(--color-action-darkest);
    }

    #js-burger-menu__links {
        border-right: solid 1px var(--color-action-trim);
        border-left: solid 1px var(--color-action-trim);
    }
}

.js {
    .main-nav__inner {
        position: relative;
        background: var(--color-action-trim);
    }

    .link-list {
        box-shadow: var(--shadow);
        border: solid 1px var(--color-action-trim-dark);
        border-bottom: solid 3px var(--color-action-trim-dark);
        box-sizing: border-box;
    }

    .burger-menu__wrapper {
        border: 1px solid var(--color-action-darkest);
        box-shadow: var(--shadow);
        background: var(--color-action-trim);
        position: relative;
        z-index: 2;
        box-shadow: 
        inset -79px -100px 102px -45px rgba(0,0,0,.5),
        inset 104px 114px 31px -90px rgba(255,255,255,.5);
    }

    .settings-menu__wrapper {
        position: absolute;
        right: 0;
        top: 0;
        z-index: 2;
    }

    .menu-icon {
        display: inline-block;
        border-radius: 5px;
        margin: 5px;
        color: var(--color-action-trim-dark);
        border: solid 3px var(--color-action-trim-dark);
        background: var(--color-action-selected);
        cursor: pointer;
        font-family: icons;
        font-size: 32px;
        padding: 4px;
        transition: background .3s ease-in-out;
        position: relative;
        box-shadow: 
        inset 100px 96px 31px -90px rgba(255,255,255,.5),
        inset -97px -94px 31px -90px rgba(0,0,0,.5);
        
        &:after {
            content: "\78";
            position: absolute;
            line-height: 40px;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            color: var(--color-action-hover);
            background: var(--color-action-trim-dark);
            opacity: 0;
            transition: opacity .3s ease-in-out, background .3s ease-in-out;
            box-shadow:
            inset 100px 96px 31px -90px rgba(255,255,255,.5),
            inset -97px -94px 31px -90px rgba(0,0,0,.5);
        }
    
        &:hover,
        &:focus {
            background: var(--color-action-hover);
            &:after {
                background: var(--color-action-darkest);
            }
        }
    
        &:active {
            background: var(--color-action-selected);
            &:after {
                background: var(--color-action-darkest);
            }
        }
    }

    .main-nav .link-list {
        background: var(--color-action-nav);
        position: relative;
        width: 100%;
        border-bottom: solid 3px var(--color-action-trim-dark);

        .link-list__item {
            float: none;
            border-top: solid 3px var(--color-action-trim); 
            &:first-child {
                border-top: none;
            }
        }
        
        .link-list__item a {
            padding-left: 8px;
        }
    }

    #js-burger-menu__links {
        z-index: 1;
    }

    .main-nav .menu-icon[aria-expanded="true"]:after {
        opacity: 1;
    }
}

