.main-nav {
    background: orange;
    font-size: 18px;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;

    .link-list {
        @extend .ul--no-bullets;
        display: block;
    }

    .link-list__item {
        float: left;
    }

    .link-list__item a {
        display: block;
        padding: var(--base-interval-1) var(--base-interval-2);
        text-decoration: none;
    }

    .link-list__item[aria-label="current page"] a {
        background: red;
    }
}