.main-nav {
    position: fixed;
    // background: var(--color-action-nav);
    font-size: 18px;
    left: 0;
    right: 0;
    top: 0;
    // box-shadow: var(--shadow);
    // border-bottom: solid 1px var(--color-action-border);

    .wrapper {
        padding: 0;
        background-color: var(--color-action-trim);
    }

    .link-list__item {
        float: left;
    }

    .link-list__item a {
        display: block;
        padding: var(--interval-1) var(--interval-2);
        text-decoration: none;
        transition: background .3s ease-in-out;
        color: var(--color-text);
        background: var(--color-action-nav);

        &:hover,
        &:focus {
            background: var(--color-action-hover);
        }
        &:active {
            background: var(--color-action-selected);
        }
    }

    .link-list__item--current-page a {
        background: var(--color-action-selected);
    }
}

.no-js {
    .settings-menu__wrapper, 
    #js-burger-menu__links,
    .menu-icon {
        display: none;
    }
}

@include desk {
    .main-nav__inner {
        border-right: solid 1px var(--color-action-border);
        border-left: solid 1px var(--color-action-border);
    }
}

.js {
    .main-nav {
        position: fixed;
    }

    .main-nav__inner {
        position: relative;
        background: var(--color-action-trim)
    }

    .burger-menu__wrapper {
        background: var(--color-action-trim);
        position: relative;
        z-index: 1;
    }

    .settings-menu__wrapper {
        position: absolute;
        right: 0;
        top: 0;
        z-index: 1;
    }

    .menu-icon {
        display: inline-block;
        border-radius: 5px;
        margin: 5px;
        color: var(--color-action-trim-dark);
        border: solid 3px var(--color-action-trim-dark);
        background: var(--color-action-selected);
        cursor: pointer;
        font-family: icons;
        font-size: 32px;
        padding: 4px;
        transition: background .3s ease-in-out;
        position: relative;
        
        &:after {
            content: "\78";
            position: absolute;
            line-height: 40px;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            color: var(--color-action-hover);
            background: var(--color-action-trim-dark);
            opacity: 0;
            transition: opacity .3s ease-in-out, background .3s ease-in-out;
        }
    
        &:hover,
        &:focus {
            background: var(--color-action-hover);
            &:after {
                background: var(--color-action-darkest);
            }
        }
    
        &:active {
            background: var(--color-action-selected);
            &:after {
                background: var(--color-action-darkest);
            }
        }
    }

    .main-nav .link-list {
        background: var(--color-action-nav);
        // transition: margin .3s ease-in-out;
        position: relative;
        bottom: -3px;
        width: 100%;
        border-bottom: solid 3px var(--color-action-trim-dark);

        .link-list__item {
            float: none;
            border-top: solid 3px var(--color-action-trim); 
            &:first-child {
                border-top: none;
            }
        }

        .link-list__item a {
            padding-left: 8px;
        }
    }

    .main-nav .menu-icon[aria-expanded="true"]:after {
        opacity: 1;
    }

    .main-nav .menu-icon[aria-expanded="true"] ~ .link-list {
        background: var(--color-action-trim);
        border-top: none;

        .link-list__item {
        
            a {
                display: block;
            }
        }
    }
}

