{% extends "furniture.njk" %}

{% block main %} 
   <h1>Hello bitches</h1>

    <p>{{message}}</p>

    <img src="/img/oc.jpg" />

    <ul>
        {% for links in model %}
            <li><a href="{{links.link}}">{{links.linkName}}</a></li>
        {% endfor %}
    </ul>
{% endblock %}
   

