{% extends "furniture.njk" %}

{% block content %}
    <section>
        <article class="brick brick--woven">
            <img src="/img/oc.jpg" />
        </article>
    </section>
{% endblock %}
   

