{% import 'macros/links.njk' as links %}
{% import 'macros/images.njk' as images %}

<!doctype html>

<html lang="en" class="no-js">
    <head>
        <meta charset="utf-8">

        <title>{{ model.title }}</title>
        <meta name="The Hapi Nun" content="A toy I made for development fun">
        <meta name='John "Jack" Jamison' content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        {# Adds the js class to the html root before the style sheet is loaded #}
        <script>document.documentElement.classList ='js'</script>
        
        <link rel="stylesheet" href="/css/styles.css">
        {# <style> {{ model.styles.styles | safe }} </style> #}

    </head>

    <body class="page--{{model.pageName}}">
        {% block body %}
            {% block header_nav %}
                {% include 'includes/header-nav.njk' %}
            {% endblock %}

            <div class="wrapper">
                {% block page_heading %}
                    {% include 'includes/page-heading.njk' %}
                {% endblock %}

                {% block content %}<p>No content has been added to this page</p>{% endblock %}
            </div>

            <div class="wrapper padding-bottom-60">
                {% block footer %}
                    {% include 'includes/footer.njk' %}
                {% endblock %}
            </div>


            {% block site_scripts %}
                {% if debug %}
                    <script> const modelDebug = {{debug | safe}} </script>
                    <script src="js/debug.js" defer></script>
                {% endif %}

                <script src="js/site.js" defer></script>
            {% endblock %}

            {% block additional_scripts %}{% endblock %}
        {% endblock %}
    </body>
</html>