<!doctype html>

<html lang="en">
    <head>
    <meta charset="utf-8">

    <title>{{title}}</title>
    <meta name="description" content="The HTML5 Herald">
    <meta name="author" content="SitePoint">

    <link rel="stylesheet" href="css/dist/styles.css">

    </head>

    <body>

    {% block main %}{% endblock %}

    {% block footer %}
        {% include 'includes/footer.njk' %}
    {% endblock %}
    
    {% block scripts %}<script src="js/test.js"></script>{% endblock %}

    </body>
</html>