<!doctype html>

<html lang="en">
    <head>
        <meta charset="utf-8">

        <title>{{title}}</title>
        <meta name="The Hapi Nun" content="A toy I made for development fun">
        <meta name="JackJohn Jamison" content="SitePoint">

        <link rel="stylesheet" href="css/dist/styles.css">
    </head>

    <body>

    {% block main %}{% endblock %}

    {% block footer %}
        {% include 'includes/footer.njk' %}
    {% endblock %}
    
    {% block scripts %}<script src="js/test.js"></script>{% endblock %}

    </body>
</html>