<!doctype html>

<html lang="en">
    <head>
        <meta charset="utf-8">

        <title>Mail</title>
        <meta name="The Hapi Nun" content="A toy I made for development fun">
        <meta name="JackJohn Jamison" content="SitePoint">
    </head>

    <body>

        I'm an email

    </body>
</html>