{% extends "furniture.njk" %}

{% block content %}

    <section> 
        {% for post in model.data.posts %}
            <article class="brick brick--woven">
                <h3>{{post.title}}</h3>
                <p>{{post.body}}</p>
            </article>
        {% endfor %}    
    </section>
 
{% endblock %}

