{% extends "furniture.njk" %}

{% block main %} 
   <h1>Hello bitches</h1>

    <p>{{message}}</p>

    <section> 
        {% for post in model %}
            <h3>{{post.title}}</h3>
            <p>{{post.body}}</p>
        {% endfor %}    
    </section>
 
{% endblock %}

{% block scripts %}
    <script> const modelDebug = {{modelDebug | safe}} </script>
{% endblock %}

