{% extends "furniture.njk" %}

{% block main %} 
   <h1>Hello bitches</h1>

    <p>{{message}}</p>

    

    <img src="/img/oc.jpg" />

    <section> 
        {% for post in postsAllContent %}
            <h3>{{post.title}}</h3>
            <p>{{post.body}}</p>
        {% endfor %}    
    </section>


{% endblock %}
   

